<!DOCTYPE html>
<html>
    <head>
        <title>MedCare - We Care</title>


    </head>
    <body>
       <div>
           <div>MED CARE -WE CARE</div>
           <div>Lets Get Started</div>
           <div><button>Register</button></div>
       </div>
        
        <!-- Java Script -->
        <script>

        </script>
        <!-- Styling -->
        <style>

            *{
                box-sizing: border-box;
                margin: 0px;
                outline: none;
                padding: 0px;
            }

            body{
                width: 100%;
                height: 100%;
                background: rgb(2,0,36);
                background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 61%, rgba(0,212,255,1) 100%);
            }


        </style>
    </body>
</html>