{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>MedCare ♡ We Care</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="preconnect" href="https://fonts.gstatic.com">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- map cdn -->
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>



<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Build A Scalable Video Chat Application With Agora" />
  <meta name="keywords" content="Video Call, Agora, Django, Real Time Engagement" />
  <meta name="author" content="Kofi Obrasi Ocran" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="../static/index.css" />
  <script src="https://cdn.agora.io/sdk/release/AgoraRTCSDK-3.3.1.js"></script>
  <title></title>
</head>

<body>
  <div class="main-area">
    <div class="NavBar">
        <nav style="padding-top:1.2rem; padding-bottom:1rem;" class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/clienthome">MED CARE  ♡ WE CARE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ">
                <li class="nav-item active">
                  <a class="nav-link" href="/bookappointment">Book Appointment <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active ">
                  <a class="nav-link" href="/realtime">My appointments</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="#">Medical Reports</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/symptomchecker">Symptom Checker</a>
                  </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Covid Resources</a>
                  </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/logout">Logout  <i class="fas fa-sign-out-alt"></i></a>
                  </li>
                
              </ul>
              
            </div>
          </nav>
    </div>
    <div  id="myChart" class="chart--container">
           
    </div>
    <div>
       
  <main id="app">
    <main>
      
      <div class="container my-5">
        <div class="row">
          <div class="col">
            <div class="btn-group" role="group">
              {% for singleUser in allUsers%}
              <button type="button" class="btn btn-primary mr-2"
                @click="placeCall('{{singleUser.id}}','{{singleUser}}')">
                Call {{ singleUser }}
                <span class="badge badge-light">${ getUserOnlineStatus({{singleUser.id}})}</span>
              </button>

              {% endfor %}
            </div>
          </div>
        </div>

        <!-- Incoming Call  -->
        <div class="row my-5" v-if="incomingCall">
          <div class="col-12">
            <p>Incoming Call From <strong>${ incomingCaller }</strong></p>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-danger" data-dismiss="modal" @click="declineCall">
                Decline
              </button>
              <button type="button" class="btn btn-success ml-5" @click="acceptCall">
                Accept
              </button>
            </div>
          </div>
        </div>
        <!-- End of Incoming Call  -->
      </div>

      <section id="video-container" v-if="callPlaced">
        <div id="local-video"></div>
        <div id="remote-video"></div>

        <div class="action-btns">
          <button type="button" class="btn btn-info" @click="handleAudioToggle">
            ${ mutedAudio ? "Unmute" : "Mute" }
          </button>
          <button type="button" class="btn btn-primary mx-4" @click="handleVideoToggle">
            ${ mutedVideo ? "ShowVideo" : "HideVideo" }
          </button>
          <button type="button" class="btn btn-danger" @click="endCall">
            EndCall
          </button>
        </div>

      </section>
    </main>
  </main>
    </div>
    
</div>



  <!-- Add Scripts -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/pusher/7.0.3/pusher.min.js"></script>
  <script>
    window.pusher = new Pusher("ec6ba3e21b6729a5975a", {
      cluster: 'ap2',
      authEndpoint: "/realtime/pusher/auth/",
      auth: {
        headers: {
          "X-CSRFToken": "{{ csrf_token }}",
        },
      },
    });

    const AUTH_USER = "{{user}}"
    const AUTH_USER_ID = "{{ request.user.id}}"
    const CSRF_TOKEN = "{{ csrf_token }}"
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js""
    ></script>
    <script src=" https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="../static/index.js"></script>
</body>

</html>


